@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("Ubuntu-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("Ubuntu-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
