@import './reset.css';
@import './fonts/ubuntu.css';

:root {
  --marine-blue: 213 96% 18%;
  --purple-blue: 243 100% 62%;
  --pastel-blue: 228 100% 84%;
  --light-blue: 206 94% 87%;
  --straw-red: 354 84% 57%;

  --cool-grey: 231 11% 63%;
  --light-grey: 229 24% 87%;
  --magnolia: 217 100% 97%;
  --alabaster: 231 100% 99%;
  --white: 0 0% 100%;

  --fs-base: 16px;
  --ff-base: 'Ubuntu', sans-serif;
}

body {
  font-family: var(--ff-base);
  background-color: hsl(var(--magnolia));
  color: hsl(var(--marine-blue));
}

.flow :where(h1, h2, h3, h4, h5) {
  margin-block: 0.25em;
}

p {
  color: hsl(var(--cool-grey));
}

.flow p {
  margin-block-end: 1.5em;
}

/* FORM STYLES */
input, label {
  display: block;
  width: 100%;
}

input[type="text"] {
  border-radius: 0.25em;
  outline: thin solid hsl(var(--light-grey));
  border: none;
  padding-inline: 1em;
  padding-block-start: 0.5em;
  padding-block-end: 0.75em;
  margin-block-end: 1em;
  font-size: 0.9em;
  font-weight: 600;
}

input::placeholder {
  color: hsl(var(--cool-grey));
  opacity: 1;
}

label {
  font-size: 0.75em;
  color: hsl(var(--marine-blue));
}

button {
  background-color: hsl(var(--marine-blue));
  color: hsl(var(--white));
  font-size: 0.9em;
  font-weight: 600;
  padding-block: 0.75em;
  padding-inline: 1.25em;
  border-radius: 0.25em;
  border: none;
}

button:hover {
  background-color: hsl(var(--pastel-blue));
}
